<section class="blog-section">
    <div class="container center-content">
        <h2 class="section-title">Latest <span style="color: #013024;">Insights</span></h2>
        
        <div class="blog-grid">
            <article class="blog-card" *ngFor="let post of blogPosts">
                <div class="blog-image">
                    <img [src]="post.image" 
                         [alt]="post.title + ' - ' + post.excerpt.substring(0, 50) + '...'"
                         class="blog-feature-image"
                         loading="lazy"
                         width="300"
                         height="200"
                         (error)="post.image = '/assets/images/placeholder.jpg'">
                </div>
                <div class="blog-content">
                    <div class="blog-meta">
                        <span class="date">{{ post.date }}</span>
                        <span class="read-time">{{ post.readTime }}</span>
                    </div>
                    <h3 class="blog-title">
                        <a [routerLink]="post.route">{{ post.title }}</a>
                    </h3>
                    <p class="blog-excerpt">
                        {{ post.excerpt }}
                    </p>
                    <div class="blog-tags">
                        <span class="tag" *ngFor="let tag of post.tags">{{ tag }}</span>
                    </div>
                    <a [routerLink]="post.route" class="read-more-btn">Read Article</a>
                </div>
            </article>
        </div>
    </div>
</section>


